.container {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 20px;
}
.first-section {
    background-color: pink;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section {
    background-color: lightblue;
    width: 200px;
}
.item1 {
    background-color: black;
    color: white;
}

.container2 {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 20px;
}
.column1 {
    background-color: pink;
    width: 100px;
}
.column2 {
    background-color: lightblue;
    width: 200px;
}
.row2 {
    background-color: black;
    color: white;
}
.row2-design {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}