div {
    color: rgb(151, 151, 151);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    width: 410px;
    border-style: none;
    border-radius: 4px;
    height: 130px;
    margin-bottom: 100px;
}
.container2 {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    width: 410px;
    border-style: none;
    border-radius: 4px;
    height: 300px;
    margin-bottom: 100px;
}
.text {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 15px;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.picture {
    width: 50px;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 25px;
}
.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
}
.second-section {
    width: 320px;
}
.time {
    font-size: 14px;
    padding-left: 5px;
}
.msg-info {
    font-weight: 600;
    color: black;
}
.second-row {
    margin-top: 5px;
}
.msg {
    padding-top: 3px;
    font-size: 15px;
}