div {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.container {
    display: flex;
    flex-direction: row;
    width: 440px;
}
.picture {
    width: 60px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
.second-section {
    margin-top: 10px;
    margin-left: 14px;
}
.name {
    font-weight: bold;
}
.youtube-link,
.email {
    color: grey;
    font-weight: 500;
}
.row3 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-style: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.column1 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 207, 207);
    border-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-shrink: 0;
}
.column2 {
    margin-top: 10px;
    margin-left: 10px;
}
