body {
    height: 3000px;
}
div {
    font-family: Arial, Helvetica, sans-serif;
}
.sidebars {
    background-color: rgb(36, 36, 36);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65px;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.first-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
    width: 65px;
    margin-right: 10px;
}
.pic-icon {
    width: 45px;
    border-radius: 25px;
    margin-bottom: 6px;
}
.second-sidebar {
    background-color: rgb(83, 82, 82);
    position: fixed;
    left: 65px;
    bottom: 0;
    top: 0;
    width: 150px;
}
.first-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.info {
    color: white;
    font-size: 13px;
    margin-left: 15px;
}
.Add-icon {
    color: rgb(161, 161, 161);
    font-size: 23px;
    margin-right: 15px;
    margin-top: -3px;
}
.page-info {
    color: rgb(190, 190, 190);
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 5px;
}
.hashtag {
    font-size: 14px;
    padding-right: 3px;
}
